{
  "presets": [
    [
      "@babel/env", {
        "targets": {
          "browsers": [
            "last 5 versions",
            "Android >= 4.2", 
            "iOS > 8",
            "safari > 8",
            "ie >= 10"
          ]
        },
        "modules": false,
        "useBuiltIns": "entry",
        "loose": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "transform-react-remove-prop-types",
    "transform-decorators-legacy",
    "transform-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
